
<h1 class="d-inline">All Tasks </h1> <%= link_to "<i class='fa fa-plus-circle' aria-hidden='true'></i>
 Create new".html_safe, new_task_path, class: "btn btn-primary text-right float-right" %>
<hr>

<% @tasks.each do |task| %>
<p>
  <% if task.completed %>
    <i class="fa fa-check-square-o" aria-hidden="true"></i> <%= link_to task.title, task %>
  <% else %>
    <i class="fa fa-square-o" aria-hidden="true"></i> <%= link_to task.title, task %>
  <% end %>
   -  <%= link_to "<i class='fa fa-trash-o' aria-hidden='true'></i>".html_safe, task_path(task),
      method: :delete,
      data: { confirm: "Are you sure you want to delete: #{task.title}?" } %>
</p>
<% end %>

