<h1>New Task</h1>
<hr>

<%= render 'form', task: @task %>

<%= link_to tasks_path do %>
  <i class="fa fa-chevron-left" aria-hidden="true"></i> Back to tasks
<% end %>

<!-- Alternate way
<%= link_to "<i class='fa fa-chevron-left' aria-hidden='true'></i> Back to tasks".html_safe, tasks_path %> -->
